<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.flowershopping.Mapper.CategoryMapper">
    <resultMap id="CategoryWithChildMap" type="com.web.flowershopping.Entity.CategoriesAll">
        <id property="category_id" column="category_id"/>
        <result property="category_name" column="category_name"/>
        <collection property="parent_category" ofType="com.web.flowershopping.Entity.Category" column="category_id" select="selectChildCategoriesWithParent"></collection>
    </resultMap>

    <select id="selectAllCategoryWithID">
        select * from category_master where category_id = #{category_id}
    </select>

    <select id="selectAllCategories">
        select
            *
        from
            category_master cm1
        WHERE cm1.parent_category_id != 0
    </select>

    <!-- 查询子分类 -->
    <select id="selectCategoryWithID">
        select
            cm1.category_id,
            cm1.category_name
        from
            category_master cm1
        WHERE cm1.category_id = #{category_id}
        AND cm1.parent_category_id != 0
    </select>

    <select id="selectAllParentChildCategories" resultMap="CategoryWithChildMap">
        SELECT 
            cm1.category_id, cm1.category_name
        FROM
            category_master cm1
        WHERE
            cm1.parent_category_id = 0
    </select>

    <select id="selectAllCategoriesInfoWithID" resultMap="CategoryWithChildMap">
        SELECT 
            cm1.category_id, cm1.category_name
        FROM
            category_master cm1
        WHERE
            cm1.category_id = #{category_id}
    </select>
    
    <select id="selectChildCategoriesWithParent" resultType="com.web.flowershopping.Entity.Category">
        select
            cm1.category_id,
            cm1.category_name
        from
            category_master cm1
		LEFT JOIN category_master cm2
        ON cm1.parent_category_id = cm2.category_id
		where cm2.category_id = #{category_id}
    </select>

    <insert id="createNewCategory" parameterType="map" useGeneratedKeys="true" keyProperty="category_id">
        INSERT INTO category_master
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="category_name != null">
                category_name,
            </if>
            <if test="parent_category_id != null">
                parent_category_id,
            </if>
            update_date
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="category_name != null">
                #{category_name},
            </if>
            <if test="parent_category_id != null">
                #{parent_category_id},
            </if>
            now()
        </trim>
    </insert>

    <select id="selectProductCountWithCategoryID">
        select
            count(pc.product_id) AS product_count
        from
            category_master cm1
            LEFT JOIN
                category_master cm2
            ON  cm1.category_id = cm2.parent_category_id
            INNER JOIN
                product_category pc
            ON  pc.category_id = cm2.category_id
        where
            cm2.category_id = #{category_id} OR cm1.category_id = #{category_id}
    </select>

    <select id="selectChildCategoryIdwithCategoryId">
        select
            cm2.category_id
        from
            category_master cm1
            LEFT JOIN
                category_master cm2
            ON  cm1.category_id = cm2.parent_category_id
        where
            cm1.category_id = #{category_id}
    </select>

    <delete id="deleteAllChild">
        DELETE FROM category_master
        WHERE category_id IN
        <foreach collection="IdList" item="item" open="(" separator="," close=")">
            #{item.category_id}
        </foreach>
    </delete>

    <delete id="deleteCategoryWithID">
        DELETE FROM category_master
        WHERE category_id = #{category_id}
    </delete>

    <update id="updateCategory">
        UPDATE category_master
        <set>
            <if test="category_name != null">
                category_name = #{category_name},
            </if>
            update_date = now()
        </set>
        WHERE category_id = #{category_id}
    </update>
</mapper>