<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.flowershopping.Mapper.InformationMapper">
    <resultMap id="informationMap" type="com.web.flowershopping.Entity.information">
        <id property="informationId" column="information_id"/>
        <result property="informationTitle" column="information_title"/>
        <result property="informationContent" column="information_content"/>
        <result property="publishStartDate" column="publish_start_date"/>
        <result property="publishEndDate" column="publish_end_date"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <resultMap id="informationMemberMap" type="com.web.flowershopping.Entity.information">
        <result property="informationTitle" column="information_title"/>
        <result property="informationContent" column="information_content"/>
        <result property="publishStartDate" column="publish_start_date"/>
        <result property="publishEndDate" column="publish_end_date"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select id="selectAllInformation" resultMap="informationMap">
        select information_id, information_title, information_content, publish_start_date, publish_end_date, created_date from information_master
    </select>

    <select id="selectCurrentInformation" resultMap="informationMemberMap">
        select information_title, information_content, publish_start_date, publish_end_date, created_date from information_master where now() between publish_start_date and publish_end_date
    </select>

    <select id="selectInformationWithID" resultMap="informationMap">
        select information_id, information_title, information_content, publish_start_date, publish_end_date, created_date from information_master where information_id = #{information_id}
    </select>

    <delete id="deleteInformationWithID">
        delete from information_master where information_id = #{information_id}
    </delete>

    <insert id="createInformation" parameterType="com.web.flowershopping.Entity.information" useGeneratedKeys="true" keyProperty="informationId">
        insert into information_master 
        (
            information_title, 
            information_content, 
            publish_start_date, 
            publish_end_date, 
            created_date,
            update_date
        )
        values (#{information.informationTitle}, #{information.informationContent}, #{information.publishStartDate}, #{information.publishEndDate}, now(), now())
    </insert>

</mapper>