<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.flowershopping.Mapper.InformationMapper">
    <resultMap id="informationMap" type="com.web.flowershopping.Entity.information">
        <id property="information_id" column="information_id"/>
        <result property="information_title" column="information_title"/>
        <result property="information_content" column="information_content"/>
        <result property="publish_start_date" column="publish_start_date"/>
        <result property="publish_end_date" column="publish_end_date"/>
        <result property="created_date" column="created_date"/>
    </resultMap>

    <select id="selectAllInformation" resultMap="informationMap">
        select information_id, information_title, information_content, publish_start_date, publish_end_date, created_date from information_master
    </select>

</mapper>