<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.flowershopping.manager.Mapper.ProductMapper">
    <resultMap id="productMap" type="com.web.flowershopping.manager.Entity.Product">

        <id property="productId" column="product_id"/>
    
        <result property="productName" column="product_name"/>
    
        <result property="amount" column="amount"/>

        <result property="stock" column="stock_count"/>
    
        <association property="attachedFile"
            javaType="com.web.flowershopping.manager.Entity.AttachedFIlePhoto">
            <result property="attachedFileId" column="attached_file_id"/>
            <result property="attachedFilePath" column="attached_file_path"/>
    
        </association>
        <association property="category" 
            javaType="com.web.flowershopping.manager.Entity.Category">
            <result property="category_id" column="category_id"/>

            <result property="category_name" column="category_name"/>
        </association>
    </resultMap>
    <select id="selectAllProduct" resultMap="productMap">
        select
            product_master.product_id,
            product_master.product_name,
            CASE
                WHEN attached_file_master.attached_file_id IS NULL THEN 0
                ELSE attached_file_master.attached_file_id
            END AS attached_file_id,
            CASE
                WHEN attached_file_master.attached_file_path IS NULL THEN ""
                ELSE attached_file_master.attached_file_path
            END AS attached_file_path,
            product_master.amount,
            stock_master.stock_count,
            product_category.category_id,
            category_master.category_name
        from
            product_master
            INNER JOIN
                stock_master
            ON  product_master.product_id = stock_master.product_id
            LEFT JOIN
                attached_file_master
            ON  attached_file_master.attached_file_id = product_master.attached_file_id
            LEFT JOIN 
                product_category
            ON product_category.product_id = product_master.product_id
            LEFT JOIN
                category_master
            ON category_master.category_id = product_category.category_id
        <where>
            <if test="product.productName != null and product.productName != ''">
                AND product_master.product_name LIKE CONCAT('%', #{product.productName}, '%')
            </if>
            <if test="product.status != 0">
                AND product_master.status = #{product.status}
            </if>
            <if test="Low_Stock">
                AND stock_master.stock_count &lt; 60
            </if>
        </where>
    </select>

    <select id="selectProductWithID" resultMap="productMap">
        select
            product_master.product_id,
            product_master.product_name,
            CASE
                WHEN attached_file_master.attached_file_id IS NULL THEN 0
                ELSE attached_file_master.attached_file_id
            END AS attached_file_id,
            CASE
                WHEN attached_file_master.attached_file_path IS NULL THEN ""
                ELSE attached_file_master.attached_file_path
            END AS attached_file_path,
            product_master.amount,
            stock_master.stock_count,
            product_category.category_id,
            category_master.category_name
        from
            product_master
            INNER JOIN
                stock_master
            ON  product_master.product_id = stock_master.product_id
            LEFT JOIN
                attached_file_master
            ON  attached_file_master.attached_file_id = product_master.attached_file_id
            LEFT JOIN 
                product_category
            ON product_category.product_id = product_master.product_id
            LEFT JOIN
                category_master
            ON category_master.category_id = product_category.category_id
        Where product_master.product_id = #{product_id}
    </select>

    <insert id="createAttachedFile" useGeneratedKeys="true" keyProperty="attachedFile.attachedFileId">
        insert into attached_file_master(
            attached_file_path,
            entry_date,
            update_date
        )values(
            #{attachedFile.attachedFilePath},
            #{attachedFile.entryDate},
            #{attachedFile.updateDate}
        )
    </insert>

    <delete id="deleteAttachedFile">
        DELETE FROM attached_file_master
        WHERE attached_file_id = #{attachedFile.attachedFileId}
    </delete>

    <insert id="createProduct" useGeneratedKeys="true" keyProperty="product.productId">
        INSERT INTO product_master 
        (product_name, attached_file_id, amount, status, entry_date, update_date)
        VALUES
        (#{product.productName}, #{product.attachedFileId}, #{product.amount}, #{product.status}, NOW(), NOW())
    </insert>

    <update id="updateProduct">
        update product_master
        <set>
            <if test="product.productName != null">
                product_name = #{product.productName},
            </if>

            <if test="product.amount != 0">
                amount = #{product.amount},
            </if>

            <if test="product.attachedFile != null and product.attachedFile.attachedFileId != null">
                attached_file_id = #{product.attachedFile.attachedFileId},
            </if>
            update_date = now()
        </set>
        WHERE product_id = #{product.productId}
    </update>

    <insert id="createStock">
        INSERT INTO stock_master(
            product_id,
            stock_count
        )VALUES(
            #{product.productId},
            #{product.stock}
        )
    </insert>

    <update id="updateStock">
        update stock_master
        <set>
            <if test="product.stock != 0">
                stock_count = #{product.stock}
            </if>
        </set>
       WHERE product_id = #{product.productId}
    </update>

    <!-- category调查 -->
    <select id="selectCategory">
        select * from category_master
        where category_id = #{categoryId}
    </select>

    <insert id="createProductCategory">
        INSERT INTO
            product_category
        values(
            #{product.productId},
            #{category.category_id},
            now()
        )
    </insert>

    <update id="updateProductCategory">
        UPDATE product_category
        <set>
            <if test="product.category.category_id != null">
                category_id = #{product.category.category_id}
            </if>
        </set>
        WHERE product_id = #{product.productId}
    </update>
</mapper>