<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.flowershopping.Mapper.ShoppingCartMapper">
    <resultMap id="cartItemMap" type="com.web.flowershopping.Entity.shoppingCart">
        <result property="is_anonymous" column="is_anonymous"/>
        <result property="quantity" column="quantity"/>
        <result property="attachedFilePath" column="attached_file_path"/>
        <result property="comment" column="comment"/>
        <association property="product" javaType="com.web.flowershopping.Entity.Product">
            <result property="productId" column="product_id"/>
            <result property="productName" column="product_name"/>
            <result property="amount" column="amount"/>
        </association>
        <association property="card" javaType="com.web.flowershopping.Entity.Card">
            <result property="card_id" column="card_id"/>
            <result property="card_name" column="card_name"/>
        </association>
    </resultMap>

    <select id="selectCartItemsByUserId" parameterType="int" resultMap="cartItemMap">
            select
                pm.product_id,
                pm.product_name,
                afm.attached_file_path,
                cm.card_id,
                cm.card_name,
                sc.comment,
                sc.is_anonymous,
                sc.quantity,
                pm.amount
            from
                shopping_cart sc
                INNER JOIN
                    product_master pm
                ON  pm.product_id = sc.product_id
                INNER JOIN
                    card_master cm
                ON  cm.card_id = sc.card_id
                INNER JOIN
                    attached_file_master afm
                ON  afm.attached_file_id = pm.attached_file_id
            where
                sc.user_id = #{userId}
    </select>

    <select id="selectCartItemCount">
        SELECT COUNT(*) AS shoppingcartCount FROM shopping_cart WHERE user_id = #{user_id} AND product_id = #{product_id}
    </select>

    <update id="updateCartItemQuantity">
        UPDATE shopping_cart 
            SET quantity = quantity + 1
            WHERE user_id = #{user_id} 
            AND product_id = #{product_id}
    </update>

    <insert id="addCartItem" parameterType="com.web.flowershopping.Entity.shoppingCart">
        INSERT INTO shopping_cart (user_id, product_id, card_id, quantity, is_anonymous, comment) VALUES (#{cartItem.user_id}, #{cartItem.product.productId}, #{cartItem.card.card_id}, #{cartItem.quantity}, #{cartItem.is_anonymous}, #{cartItem.comment})
    </insert>

    <delete id="deleteCartItem">
        DELETE FROM shopping_cart WHERE user_id = #{user_id} AND product_id = #{product_id}
    </delete>

</mapper>