<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.flowershopping.Mapper.UserLoginMapper">
    <resultMap id="UserMap" type="com.web.flowershopping.Entity.User">
        <id property="user_id" column="user_id"/>
        <result property="openid" column="openid"/>
        <result property="nickName" column="nickname"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="tel" column="tel"/>
    </resultMap>

    <select id="selectByOpenId" parameterType="com.web.flowershopping.Entity.User" resultMap="UserMap">
        select * from `USER_MASTER` where openid = #{openid}
    </select>

    <select id="selectByPhoneNumber" resultType="com.web.flowershopping.Entity.User">
        select * from `USER_MASTER` where tel = #{phoneNumber}
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser"
            parameterType="com.web.flowershopping.Entity.User">

        insert into USER_MASTER(openid, nickname, is_admin, tel)
        values (#{openid}, #{nickName}, 0, #{tel})

    </insert>

    <!-- 创建收货地址 -->
    <insert id="createDeliveryAddress" keyProperty="delivery_address_id" useGeneratedKeys="true">
        insert into delivery_address_master(user_id, delivery_address,receive_name,receive_tel,create_time,update_time)
        values (#{deliveryAddress.user_id}, #{deliveryAddress.delivery_address}, #{deliveryAddress.receive_name}, #{deliveryAddress.receive_tel}, NOW(), NOW())
    </insert>

    <delete id="deleteDeliveryAddress">
        delete from delivery_address_master where delivery_address_id = #{delivery_address_id}
    </delete>

</mapper>